{% extends "base.html" %}
{% block container1 %}

  <div class="text-center student">COLLEGES</div>
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="search-bar-container">
    <input class="search-bar" type="text" name="collegesearch" placeholder="Search">
    <button class="search-button" type="submit" style="background-color: #871f78; color: #fff; border: none; padding: 10px 20px; cursor: pointer; border-radius: 10px;">Search</button>
    <a class="add-button" href="/collegesform">Add College</a>
  </div>

  <div class="table-container">
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for college in colleges %}
        <tr>
          <td>{{college.collegecode}}</td>
          <td>{{college.collegename}}</td>
          <td class="text-center">
            <a class="btn btn-info btn-sm" href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#" class="btn btn-danger btn-sm" college-code="{{college.collegecode}}" csrf-token="{{csrf_token()}}" onclick="deleteCollege(this)">
              <i class="fas fa-trash"></i>         
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endblock %}