{% extends "base.html" %}
{% block container1 %}

  <div class="text-center student">STUDENTS</div>
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="search-bar-container">
    <input class="search-bar" type="text" name="studentsearch" placeholder="Search">
    <button class="search-button" type="submit" style="background-color: #871f78; color: #fff; border: none; padding: 10px 20px; cursor: pointer; border-radius: 10px;">Search</button>
    <a class="add-button" href="/studentsform">Add Student</a>
  </div>
  </form>

  <div class="table-container">
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Course</th>
          <th>Year</th>
          <th>Gender</th>
          <th class="text-center">Actions</th>

        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{student.id}}</td>
          <td>{{student.firstname}}</td>
          <td>{{student.lastname}}</td>
          <td>{{student.coursecode}}</td>
          <td>{{student.yearlevel}}</td>
          <td>{{student.gender}}</td>
          <td class="text-center">
            <a class="btn btn-info btn-sm" href="#"><i class="fas fa-pencil-alt"></i></a>
            <a href="#" class="btn btn-danger btn-sm" student-id="{{student.id}}" csrf-token="{{csrf_token()}}" onclick="deleteStudent(this)">
              <i class="fas fa-trash"></i> 
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
