{% extends "base.html" %}
{% block container1 %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2 style="margin-top: 50px;">Edit College Information</h2>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
        <div class="form-group">
            <label for="collegecode">College Code</label>
            <input type="text" class="form-control" id="collegecode" name="collegecode" value="{{ college.collegecode }}" required>
        </div>
        <div class="form-group">
            <label for="collegename">College Name</label>
            <input type="text" class="form-control" id="collegename" name="collegename" value="{{ college.collegename }}" required>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button class="btn btn-primary" onclick="location.href = '/colleges';">Cancel</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

{% endblock %}